@page
@model iap2.Pages.AdminDashModel
@{
}

<p id="roleH">Role management</p>

<form method="post">
    <div>
        <input class="searchBar" asp-for=@Model.roleName placeholder="New role.."/>
        <input class="searchButton" type="submit" value="ADD ROLE" />
    </div>
</form>

<table class="rolesTable">
    <tr>
        <th>Id</th>
        <th>Role name</th>
        <th>Delete</th>
    </tr>
    @foreach (var role in Model.roles)
    {
        <tr class="singleRole">
            <td>@role.Id</td>
            <td>@role.Name</td>
            <td><a class="passButton" asp-page="AdminDash" asp-route-id="@role.Id" asp-page-handler="Delete">Delete role</a></td>
        </tr>
    }
</table>

<p id="userH">User management</p>

<table class="usersBox">
    <tr>
        <th>Email</th>
        <th>Roles</th>
        <th>Update password</th>
        <th>Action</th>
        <th>Delete</th>
    </tr>
    @foreach (var user in Model.userRolesViewModel)
    {
        <tr class="singleUser">
            <td>@user.Email</td>
            <td>@string.Join(" , ", user.Roles.ToList())</td>            
            <td id="passTd">
                <form method="post" asp-page-handler="Update" asp-route-id="@user.Id">
                    <input class="passBox" asp-for="passwordString" placeholder="New password.."/>
                    <input id="passButt" type="submit" value="Update" />
                </form>
            </td>
            <td><a class="passButton" asp-page="Manage" asp-route-id="@user.Id">Manage</a></td>
            <td><a class="passButton" asp-page="AdminDash" asp-route-id="@user.Id" asp-page-handler="Delete">Delete</a></td>
        </tr>
    }
</table>