@page
@model iap2.Pages.AdminDashModel
@{
}

<div class="rolesBox">
    @foreach (var role in Model.roles)
    {
        <div class="singleRole">
            <h4>Id:</h4>
            <p>@role.Id</p>
            <h4>Name:</h4>
            <p>@role.Name</p>
            <a asp-page="AdminDash" asp-route-id="@role.Id" asp-page-handler="Delete">Delete role</a>
            <br />
        </div>
    }
</div>
<br />
<form method="post">
    <div>
        <label asp-for=@Model.roleName></label>
        <input asp-for=@Model.roleName />
    </div>
    <input type="submit" value="Add role" />
</form>
<br />
<br />
<br />
<br />
<div class="usersBox">
    @foreach (var user in Model.userRolesViewModel)
    {
        <div class="singleUser">
            <h4>Id:</h4>
            <p>@user.Id</p>
            <h4>Email:</h4>
            <p>@user.Email</p>
            <h4>Name:</h4>
            <p>@user.FirstName</p>
            <h4>Surname:</h4>
            <p>@user.LastName</p>
            <h4>Role:</h4>
            <p>@string.Join(" , ", user.Roles.ToList())</p>
            <a asp-page="AdminDash" asp-route-id="@user.Id" asp-page-handler="Delete">Delete user</a>
            <br />
            <form method="post" asp-page-handler="Update" asp-route-id="@user.Id">
                <input asp-for="passwordString"/>
                <input type="submit" value="Update password" />
            </form>  
            <a asp-page="Manage" asp-route-id="@user.Id">Manage Roles</a>
        </div>
    }
</div>