@page
@model iap2.Pages.CartModel
@{
}
<p class="info">Your cart</p>
<table class="cartBox">
    <tr>
        <th class="imageTable">Image</th>
        <th class="nameTable">Name</th>
        <th class="priceTable">Price (each)</th>
        <th class="qntTable">Quantity</th>
        <th class="editTable">Edit</th>
        <th class="totTable">Item total</th>
    </tr>
    <form method="post">
        @if (!Model.cartItemsList.Any())
        {
            <tr>
                <td colspan="6" id="emptyCart">Your cart is empty</td>
            </tr>
        }
        @foreach (var cartItem in Model.cartItemsList)
            {
                <tr class="cartItem">
                    <td class="imageTable"><img class="previewImg" src="./assets/@cartItem.Products.ProductImage" alt="@cartItem.Products.ProductImageAlt"></td>
                    <td class="nameTable">@cartItem.Products.Name</td>
                    <td class="priceTable">@cartItem.Products.Price $</td>
                    <td class="qntTable">@cartItem.Quantity</td>
                    <td class="editTable">
                        <a class="edits" asp-page="Cart" asp-route-id="@cartItem.Id" asp-page-handler="Add">+            </a>

                        <a class="edits" asp-page="Cart" asp-route-id="@cartItem.Id" asp-page-handler="Delete">—</a>
                    </td>
                    <td class="totTable">@Model.totalForProduct $</td>
                </tr>
            }
            <tr>
                <td colspan="3" class="total">Total</td>
                <td colspan="3" class="total">@Model.total $</td>
            </tr>
    </form>
</table>