@page
@model iap2.Pages.ManageModel
@{
}
<form method="post">
    <div class="card">
        <div class="card-header">
            <h3>MANAGE USER ROLES</h3>
            <h5>@Model.Indicate.Email</h5>
        </div>
        <div class="card-body">
            @foreach (var role in @Model.model)
            {
                <div class="form-check m-1">
                    <input type="hidden" asp-for="@role.RoleId" />
                    <input type="hidden" asp-for="@role.RoleName" />
                    <input asp-for="@role.Selected" class="form-check-input" />
                    <label class="form-check-label" asp-for="@role.Selected">
                        @role.RoleName
                    </label>
                </div>
            }
            <div asp-validation-summary="All" class="text-danger"></div>
        </div>
        <div class="card-footer">
            <input id="buttonC" type="submit" value="UPDATE" class="btn btn-primary"
                   style="width:auto" />
            <a id="buttonD" asp-page="AdminDash" asp-route-id="Id"
               class="btn btn-primary" style="width:auto">Cancel</a>
        </div>
    </div>
</form>