@page
@using Microsoft.AspNetCore.Identity
@using iap2.Model;
@inject SignInManager<AppUser> SignInManager;
@model iap2.Pages.productsModel
@{
}
@{

}

@{
    if (@Model.Recommen1 != null && @Model.Recommen2 != null)
    {
        <div class="recomBox">
            <p id="tit">Recommedations for you</p>
            <div class="singleRecom1">        
                <img src="./assets/@Model.Recommen1.ProductImage" alt="@Model.Recommen1.ProductImageAlt">
                <a class="txtB" asp-page="SingleProduct" asp-route-id="@Model.Recommen1.Id">@Model.Recommen1.Name</a>
                <p class="txtR">@Model.Recommen2.Price $</p>
            </div>
            <div class="singleRecom2">        
                <img src="./assets/@Model.Recommen2.ProductImage" alt="@Model.Recommen2.ProductImageAlt">
                <a class="txtB" asp-page="SingleProduct" asp-route-id="@Model.Recommen2.Id">@Model.Recommen2.Name</a>
                <p class="txtR">@Model.Recommen2.Price $</p>
            </div>    
        </div>
    }
}


<form method="post" class="search"> 
    <input class="searchBar" asp-for="searchString" placeholder="Search.." />
    <input class="searchButton" type="submit" value="SUBMIT" /> 
</form>


<form method="post" class="categ">
    <label id="dropdLabel" asp-for="category">CATEGORIES:</label>    
    <select name="categSearch" id="dropdown">
        @foreach (string category in Model.ProdCategories)
        {
            <option asp-for="category" value="@category">@category</option>
        }
    </select>
    <input class="sButton" asp-page-handler="Category" type="submit" value="Search" />
</form>

<div class="itemsBox">
    @foreach (var product in Model.itemsList)
    {
        <div class="singleItem">           
            <img class="previewImg" src="./assets/@product.ProductImage" alt="@product.ProductImageAlt">
            <p class="brand">The Ordinary.</p>
            <a class="itemName" asp-page="SingleProduct" asp-route-id="@product.Id">@product.Name</a>
            <p class="price">@product.Price $</p>
            <p class="size">@product.Size</p>
            @{
                if (SignInManager.IsSignedIn(User) && User.IsInRole("AdminManager"))
                {
                    <a class="adminButton" asp-page="addProduct" asp-route-id="@product.Id">EDIT</a>
                    <a class="adminButton" asp-page="products" asp-route-id="@product.Id" asp-page-handler="Delete">DELETE</a>
                }
            }  
        </div>
    }
</div>