@page
@model iap2.Pages.productsModel
@{
}
@{

}

<form method="post"> 
    <label asp-for="searchString"></label>
    <input asp-for="searchString" />
    <input type="submit" value="Search" />
    <br />
    <br />    
</form>

<form method="post">
    <label asp-for="searchCategory"></label>    
    <select>
        @foreach (var searchCategory in Model.ProdCategories)
        {
            <option asp-for="searchCategory" value="@searchCategory">@searchCategory</option>
        }
    </select>
    <input asp-page-handler="Category" type="submit" value="Search" />
</form>

<div class="itemsBox">
    @foreach (var product in Model.itemsList)
    {
        <div class="singleItem">
            <a asp-page="SingleProduct" asp-route-id="@product.Id">@product.Name</a>
            <img class="previewImg" src="./assets/@product.ProductImage" alt="@product.ProductImageAlt">
            <p>@product.Price $</p>
            <P>@product.Category</P>
            <p>@product.Size</p>
            <a asp-page="addProduct" asp-route-id="@product.Id">Update</a>
            <a asp-page="products" asp-route-id="@product.Id" asp-page-handler="Delete">Delete</a>
        </div>
    }
</div>