@page
@using Microsoft.AspNetCore.Identity
@using iap2.Model;
@inject SignInManager<AppUser> SignInManager;
@model iap2.Pages.productsModel
@{
}
@{

}

<form method="post" class="search"> 
    <input id="searchBar" asp-for="searchString" placeholder="Search.." />
    <input class="searchButton" type="submit" value="SUBMIT" /> 
</form>

<form method="post" class="categ">
    <label asp-for="category">CATEGORIES</label>    
    <select>
        @foreach (string category in Model.ProdCategories)
        {
            <option asp-for="category" value="@category">@category</option>
        }
    </select>
    <input asp-page-handler="Category" type="submit" value="Search" />
</form>

<div class="itemsBox">
    @foreach (var product in Model.itemsList)
    {
        <div class="singleItem">           
            <img class="previewImg" src="./assets/@product.ProductImage" alt="@product.ProductImageAlt">
            <p class="brand">The Ordinary.</p>
            <a class="itemName" asp-page="SingleProduct" asp-route-id="@product.Id">@product.Name</a>
            <p class="price">@product.Price $</p>
            <p class="size">@product.Size</p>
            @{
                if (SignInManager.IsSignedIn(User) && User.IsInRole("AdminManager"))
                {
                    <a class="adminButton" asp-page="addProduct" asp-route-id="@product.Id">EDIT</a>
                    <a class="adminButton" asp-page="products" asp-route-id="@product.Id" asp-page-handler="Delete">DELETE</a>
                }
            }  
        </div>
    }
</div>